body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden; 
    overflow-y: scroll; 
}
#first{
    color: white;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    padding: 50px;
    background-clip: border-box;
    margin: 0%;
}
.info{
    padding: 50px;
    text-align: center;
    font-family: galada;
}
.service{
    background-image: url(../images/backgrounds/s_image.jpg);
    text-align: center;
    background-position: cover;
    background-size: cover;
    width:100%;
    color: white;
    background-repeat: no-repeat;
    padding: 100px;
    
    
}
#to-do{
    text-align: center;
    padding: 10px;
}
.perform{
    text-align: center;
    display: 0;
    margin-top: 20px;

    
}
.container{
    text-align: center;
    margin-top: 50px;
    
}
.col{
    padding:2px;
    
}
.row{
    padding: 0%;
}
.card-footer{
    text-align: center;
}
.delani{
    margin-top: 20px;
}
.contact-form{
    text-align: center;
    padding: 2%;
    background-image: url(../images/backgrounds/c_image.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.contact{

    color: white;
    font-size:30px;
    background: transparent;
    margin: 0%;
}
#name{
    width: 30%;  
    color: white;
    background: transparent;
}
#email{
    width: 30%;
    background: transparent;
}
#area{
    width: 50%;
    margin-top: 20px;
    background: transparent;
}