#first{
    color: white;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    padding: 50px;
    background-clip: border-box;
}
.info{
    padding: 50px;
    text-align: center;
    font-family: galada;
}